.width80{
    width: 80vw; 
 }
 
 .tabela{
     width: 100%;
     margin-top: 20px;
 }
 
 .tabela-linha{
     background-color: #e8e7e7;
 }

 h6{
    font-weight: bold;
 }
 .flex{
    display: flex;
    gap: 10px;
 }
